@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}

@layer base {
  :root {
    /* font */
    --sora : "Sora", sans-serif;
    --f12: 12px;
    --f14 : 14px;
    --f16 : 16px;
    --f18 : 18px;
    --f20 : 20px;
    --f22 : 22px;
    --f24 : 24px;
    --f26 : 26px;
    --f28 : 28px;
    --f30 : 30px;
    --f32 : 32px;
    --f36 : 36px;
    --f38 : 38px;
    --f64 : 64px;
    --f68 : 68px;
    --f52 : 52px;
   
 
  /* font */

  /* color */
  --ik_pink: hsla(348, 75%, 57%, 1);
  --ik_pink-foreground: hsla(0, 0%, 100%, 1);
  --ik_pink_button: hsla(0, 0%, 100%, 1);
  --ik_pink-foreground-button: hsla(348, 75%, 57%, 1);

  --ik_black : hsla(0, 0%, 0%, 1);

  --ik_green:hsla(175, 100%, 29%, 1);
  --ik_green-foreground: hsla(0, 0%, 100%, 1);
  --ik_blue:hsla(256, 50%, 24%, 1);
  --ik_blue-foreground: hsla(0, 0%, 100%, 1);
  --ik_multicolor:linear-gradient(180deg, #E34061 0%, #00968A 100%);
  --ik_multicolor-foreground: hsla(0, 0%, 100%, 1);
  --ik_white:hsla(0, 0%, 100%, 1);
  --ik_white-foreground: hsla(348, 75%, 57%, 1);
  --ik_whitevariant:hsla(349, 100%, 97%, 1);
  --ik_whitevariant-foreground: hsla(348, 75%, 57%, 1);
  --ik_lightblue:hsla(204, 15%, 94%);
  --ik_lightbluevariant:hsla(195, 18%, 96%);
  
  --ik_bluegreydarken4:hsla(200, 19%, 18%, 1);
  --ik_bluegreydarken3:hsla(200, 18%, 26%, 1);
  --ik_bluegreydarken2:hsla(199, 18%, 33%, 1);
  --ik_bluegreydarken1:hsla(199, 18%, 40%, 1);
  --ik_bluegreylighten1:hsla(200, 15%, 54%, 1);
  --ik_bluegreylighten2:hsla(200, 16%, 62%, 1);
  --ik_bluegreylighten3: hsla(204, 15%, 94%, 1);
  --ik_bluegreylighten4:hsla(198, 16%, 84%, 1);
  --ik_bluegreylighten5:hsla(204, 15%, 94%, 1);
  --ik_bluegreydarken6:hsla(223, 19%, 29%, 1);
  --ik_bluegreybluegrey: hsla(200, 18%, 46%, 1);


  --ik_redvariant1: hsla(51, 83%, 92%, 1);
  --ik_bordervariant: hsla(0, 0%, 80%, 1);
  --ik_bordervariant2: hsla(213, 15%, 85%, 1);
  --ik_bluevariantcolor:hsla(256, 50%, 24%, 0.9);
  --ik_lightgrey:hsla(224, 8%, 54%, 1);
  --ik_darkblue:hsla(212, 100%, 44%, 1);
  --ik_darkblue1:hsla(210, 79%, 46%, 1);

  --ik_lightorange:hsla(48, 100%, 88%, 1);



  
  /* color */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 8px;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}






@layer base {
  * {
    @apply box-border
  }

  body {
    @apply bg-background text-foreground;
  }
}

