/* Header css */
.search-bar-new1 .MuiAutocomplete-inputRoot {
    border: none !important;
}
.search-here1 .MuiAutocomplete-inputRoot {
    padding: 15px 3px 11px 15px !important;
}

.search-bar .MuiAutocomplete-inputRoot {
    border: none !important;
    padding-right: 5px !important;
    height: 48px !important;
}

/* .search-bar .auto-item {
    background-color: #ECEFF1 !important;
    height: 48px !important;

} */

.search-here .MuiAutocomplete-inputRoot input {
    width: 100% !important;
}

.search-here .MuiAutocomplete-inputRoot {
    padding: 15px !important;
}

.search-here .MuiAutocomplete-input {
    font-size: 14px !important;
}



.best-sellers-section .slick-track .slick-slide>div {
    margin-right: 15px;
}

.slider-white-dots .slick-dots .slick-active {
    width: 100px !important;
    height: 6px !important;
}

.slider-white-dots .slick-active .reactslick-custom-dots {
    width: 100px;
    height: 6px;
    background: white;
    border-radius: 28px !important;
}

.slider-white-dots .reactslick-custom-dots {
    width: 100px;
    height: 6px;
    background: #ffffff52;
    border-radius: 28px !important;
}

.slider-white-dots .slick-slide img {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.slider-white-dots .slick-center img {
    opacity: 1;
}

.slider-white-dots .slick-dots li {
    width: 110px !important;
    height: 6px !important;
}

.category-section-sec .slick-prev:before {
    content: '' !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-image: url('/assets/icons/category-prev.svg') !important;
    background-size: cover !important;
    position: relative;
    left: 47%;
    z-index: 0 !important;
    top: 100%;
}

.category-section-sec .slick-prev {
    left: 47% !important;
    z-index: 100;
    top: 100% !important;
}

.category-section-sec .slick-next:before {
    content: '' !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-image: url('/assets/icons/category-next.svg') !important;
    background-size: cover !important;
    position: relative;
    right: 47%;
    z-index: 9999;
    top: 100%;
}

.category-section-sec .slick-next {
    right: 47% !important;
    z-index: 100;
    top: 100% !important;
}

.slick-prev:before {
    content: '' !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-image: url('/assets/icons/arrow-left.svg') !important;
    background-size: cover !important;
    position: relative;
    left: -10px;
    z-index: 0 !important;
    bottom: 60px;
}

.slick-prev {
    left: -5px !important;
    z-index: 100;
}
.slick-next:before {
    content: '' !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-image: url('/assets/icons/arrow-right.svg') !important;
    background-size: cover !important;
    position: relative;
    right: -18px;
    z-index: 9999;
    bottom: 60px;
    /* top: -11px !important; */
}

.slick-next {
    right: 13px !important;
    z-index: 100;
}

.Category-button{
    border: 1px solid #CCCCCC;
}


.category-section-sec .slick-slide {
    display: flex !important;
    flex-direction: column;
    gap: 12px;
}

.category-section-sec .slick-track {
    gap: 12px;
    display: flex;
}

.music-select .slick-track {
    gap: 12px;
    display: flex;
}

.music-section-sec .slick-track {
    gap: 12px;
    display: flex;
}

.music-section-sec1 .slick-track {
    gap: 12px;
    display: flex;
}

.reviews-section .slick-track{
    gap: 12px;
    display: flex;
}

.image-category img{
    border-radius: 8px;
    filter: brightness(0.7);
}

.category-name{
    bottom: 10px;
    left: 15px;

}

.Category-button.active {
    background-color: var(--ik_pink);
    color: white;
}


.gro-card-sections{
    padding: 15px;
    border-radius: 12px;
    background-color: #43346a; 
}


.paragraph-Ctr>ul {
    list-style: none !important;
    padding-left: 0px !important;
}

.paragraph-Ctr>ul>li {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-left: 28px;
    margin-bottom: 10px;
    height: 100%;
    min-height: 20px;
}

.paragraph-Ctr>ul>li::before {
    content: '';
    background-image: url('/assets/icons/bulletin.svg');
    position: absolute;
    width: 20px;
    height: 16px;
    top: 12px;
    left: 10px;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.category-table .MuiTabs-hideScrollbar .MuiTabs-indicator{
    position: unset !important;

}

.category-table .Mui-selected{
    background-color: var(--ik_white-foreground);
    color: var(--ik_white);
}


.category-table .MuiTab-textColorPrimary{
    border: 1px solid var(--ik_bordervariant) !important;
}
.category-table .MuiTabs-flexContainer{
    gap: 8px !important;
}



.category-table1 .MuiTabs-hideScrollbar .MuiTabs-indicator{
    position: unset !important;

}

.category-table1 .Mui-selected{
    background-color: var(--ik_whitevariant);
    color: var(--ik_pink);
    border: 1px solid var(--ik_pink)!important ;
    border-radius: 34px;
}


.category-table1 .MuiTab-textColorPrimary{
    border: 1px solid var(--ik_bordervariant2) ;
    /* border-radius: 34px; */
}
.category-table1 .MuiTabs-flexContainer{
    gap: 8px !important;
}
.font-linear{
    background: linear-gradient(90deg, #E34061 30%, #3C1393 44%, #1E9D77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize !important;
}

.askcolor{
    background-image: linear-gradient(272.65deg, #2E1E5A -3.81%, #E34061 116.02%);
}
.shadow-color{
box-shadow: 0px 10px 30px 0px hsla(0, 0%, 0%, 0.15);

}

.reviews-section .slick-prev:before {
    content: '' !important;
    display: inline-block !important;
    width: 10px !important;
    height: 20px !important;
    background-image: url('/assets/icons/reviews-prev.svg') !important;
    background-size: cover !important;
    position: relative;
    z-index: 0 !important;
    top: 50%;
}

.reviews-section .slick-prev {
    z-index: 100;
    top: 48% !important;

}
.reviews-section .slick-track{
    padding-top: 30px;
    padding-bottom: 30px;
}

.reviews-section .slick-next:before {
    content: '' !important;
    display: inline-block !important;
    width: 10px !important;
    height: 20px !important;
    background-image: url('/assets/icons/reviewa-next.svg') !important;
    background-size: cover !important;
    position: relative;
    z-index: 9999;
    top: 50%;
}

.reviews-section .slick-next {
    top: 48% !important;
    z-index: 100;
}

