/* Header css */

.search-bar .MuiAutocomplete-inputRoot {
    border: none !important;
    padding-right: 5px !important;
    height: 48px !important;
}

.search-bar .auto-item {
    background-color: #ECEFF1 !important;
    height: 48px !important;
    width: 120% !important;
}

.search-here .MuiAutocomplete-inputRoot input {
    width: 100% !important;
}

.search-here .MuiAutocomplete-inputRoot {
    padding: 15px !important;
}

.search-here .MuiAutocomplete-input {
    font-size: 14px !important;
    font-family: "Sora", sans-serif !important;
}


/* footer css */

.footer p {
    font-weight: 500 !important;
    font-size: 13px !important;
    color: #fff;
}

.footer .list-group li a {
    color: #d9d9d9 !important;
}

.footer-sign-section {
    display: flex;
    gap: 5px;
}

.footer-sign-section input {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sign-section input {
    max-height: 36px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 11px;
    padding: 13px 9px 12px 9px;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.footer-pointer span {
    font-size: 10px;
    line-height: 22px;
}

/* Banner css */
.bannerinner-text {
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.muisc-text{
    font-size: 45px;
    font-weight: 800;
}

.Singers-line{
    border-bottom: 1px solid #fff;
    padding-right: 5px;
}

.right-line{
    border-right: 1px solid #fff;
}

.enjoy-family{
    background-color:  #FCF6D9;
    padding: 10px;
}

.enjoy-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text-family{
    font-size: 14px;
    font-weight: 500;
}
.text-family .off-text{
    font-size: 14px;
    font-weight: 700;
}

/* silder  css*/
.best-sellers-section {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px 50px 0px;
}

.best-sellers-section .slick-track .slick-slide>div {
    margin-right: 15px;
}

.slider-white-dots .slick-dots .slick-active {
    width: 100px !important;
    height: 6px !important;
}

.slider-white-dots .slick-active .reactslick-custom-dots {
    width: 100px;
    height: 6px;
    background: white;
    border-radius: 28px !important;
}

.slider-white-dots .reactslick-custom-dots {
    width: 100px;
    height: 6px;
    background: #ffffff52;
    border-radius: 28px !important;
}

.slider-white-dots .slick-slide img {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.slider-white-dots .slick-center img {
    opacity: 1;
}

.slider-white-dots .slick-dots li {
    width: 110px !important;
    height: 6px !important;
}

.Events-title{
    font-size: 20px;
    font-weight: 600;
}

.slick-prev:before {
    content: '' !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-image: url('/assets/icons/arrow-left.svg') !important;
    background-size: cover !important;
    position: relative;
    left: 130px;
    z-index: 0 !important;
    top: -11px !important;
}

.slick-prev {
    left: -5px !important;
    z-index: 100;
}
.slick-next:before {
    content: '' !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-image: url('/assets/icons/arrow-right.svg') !important;
    background-size: cover !important;
    position: relative;
    right: 130px;
    z-index: 9999;
    top: -11px !important;
}

.slick-next {
    right: 13px !important;
    z-index: 100;
}

.section-padding{
    padding: 20px 0px 50px 0px;
}

.view-text{
    font-size: 14px;
    color: var(--ik_pink);
    font-weight: 400;
}

.Category-button{
    padding: 9px 12px;
    border: 1px solid #CCCCCC;
    display: flex;
    gap: 8px;
    border-radius: 34px;
}

.Category-button span{
    font-size: 12px;
    font-weight: 600;

}

.category-section-sec .slick-slide {
    display: flex !important;
    flex-direction: column;
    gap: 12px;
}

.category-section-sec .slick-track {
    gap: 12px;
    display: flex;
}

.image-category img{
    border-radius: 8px;
    filter: brightness(0.7);
}

.category-name{
    bottom: 10px;
    left: 15px;

}

.category-section-sec{
    padding-top: 15px;
    padding-bottom: 15px;
}

.category-name span{
    font-size: 16px;
    color: var(--ik_pink-foreground);
    font-weight: 600;
}

.category-reviews{
    font-size: 14px;
    font-weight: 400;
    color: var(--ik_bluegreydarken3);
}

.category-text{
    font-size: 12px;
    font-weight: 400;
    color: var(--ik_bluegreydarken1);
}

.Category-button.active {
    background-color: var(--ik_pink);
    color: white;
}


.grosection{
    padding-top: 20px;
    padding-bottom: 20px;
}

.groimage-section img{
  width: 100%;
}

.growwwimage-section img{
    width: 65%;
    margin-top: 15px;
}

.gor-Business-section{
    padding-top: 10px;
    gap: 10px;
}

.gor-Business-section{
    font-size: 12px;
    color: var(--ik_pink-foreground);
    font-weight: 400;
}

.gro-card-sections{
    padding: 15px;
    border: 1px solid;
    border-radius: 12px;
    opacity: 10%;
    /* background-color: var(--ik_bluegreydarken1); */
}